<!DOCTYPE html>
<html lang="en">
<nav class="navigation-bar">
    <img src="{{url_for('static', filename='smashLogo.png')}}"  style="width:100px;height:75px;"/>
    <h2>About UVa Smash</h2>
    <a href="/" >Home</a>
    <a href="/get-tournaments" >League Tournaments</a>
    <a href="/get-players">Player Information</a>
    <a href="/get-games">Head-to-Heads</a>
    <a href="/character">Smash Characters List</a>
    <a href="/about">About UVa Smash Club</a>
</nav>
<head>
    <meta charset="UTF-8">
    <title>About the UVa Smash Club</title>
    <link rel="stylesheet" href='/css/main.css' />
</head>
<body>
   <h3> Current League:</h3> Summer 2023
    <br/>
    <h3>Student Officers:</h3>
        {% for i in officer_info %}
        <a href="/player/{{i[1]}}"> {{i[2]}} {{i[3]}} (Click for Player & Contact Information)</a>

    {% endfor %}
</ol>
</body>
</html>