<!DOCTYPE html>
<html>

<nav class="navigation-bar">

    <img src="{{url_for('static', filename='smashLogo.png')}}"  style="width:100px;height:75px;"/>
    <h2>Smash at UVa</h2>
</nav>
<head>
    <title>Smash at UVa</title>
    <link rel="stylesheet" href='/css/main.css' />
</head>

<body>
 <hr/>
    <h3>Menu</h3>
    <hr/>
    <a href="/get-tournaments">League Tournaments</a>
    <br/>
    <a href="/get-players">Player Information</a>
    <br/>
    <a href="/get-games">Head-to-Heads</a>
    <br/>
    <a href="/character">Smash Characters List</a>
    <br/>
    <a href="/about">About UVa Smash Club</a>
 <hr/>

</body>
</html>



