<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/css/main.css' />
</head>
<nav class="navigation-bar">
    <img src="{{url_for('static', filename='smashLogo.png')}}"  style="width:100px;height:75px;"/>
    <a href="/" >Home</a>
    <a href="/get-tournaments" >League Tournaments</a>
    <a href="/get-players">Player Information</a>
    <a href="/get-games">Head-to-Heads</a>
    <a href="/character">Smash Characters List</a>
    <a href="/about">About UVa Smash Club</a>
</nav>
<body>
    <h2 style="color:Black;"><b>{{player_info[1]}} {{player_info[2]}}</b> </h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Computing ID</th>
            <th>Character</th>
        </tr>
        <tr>
            <td>{{player_info[1]}} {{player_info[2]}}</td>
            <td>{{player_info[0]}}</td>
            <td>{{characters[0][1]}}</td>
        </tr>
    </table>
    <br/>

    <h3>Tournaments attended:</h3>
    <ol>
        {% for i in attendance %}
            <li><a href="http://127.0.0.1:5000/tournament/{{i[0]}}">Tournament #{{i[0]}} </a></li>
        {% endfor %}
    </ol>
    <h3>Head-to-Heads</h3>
    <h4>Wins:</h4>
    <ol>
    {% for i in wins %}
        <li><a href="game/{{i[0]}}"> Game {{i[0]}}</a></li>
    {% endfor %}
    </ol>
     <h4>Losses:</h4>
    <ol>
    {% for i in losses %}
        <li><a href="game/{{i[0]}}"> Game {{i[0]}}</a></li>
    {% endfor %}
    </ol>
    <br/>
        <hr/>
</body>
</html>